body {
    clear: both;
    text-align: center;
    background-color: rgb(241, 235, 219) ;
    margin: 0px;
    padding: 0px;
    border: 0px;
}




nav {
    
    background-color: rgb(245, 191, 43);
    height: 45px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: flex;
    flex-direction: row;

}

.title {
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: absolute;
    color: white;
    padding: 15px 0px 15px 30px;
    display: flex;
    justify-content: flex-start;
    
}

.contact {
    padding-right: 30px;
}

.links {
    display: flex;

    justify-content: flex-end;
    
    position: absolute;
}

.links a {
    display: flex;

    justify-content: flex-end;
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 15px;

}


.boxes .subtitle {
    margin: 0px;
    padding: 0px;
    border: 2px solid rgb(245, 191, 43);
    border-radius: 5px;
    height: 100%;
    width: 100%;
    background-color: white;
    display: flex;

    flex-wrap: wrap;
    

}

.boxes {
    display: inline-block;
    display: flex;
    justify-content: space-around;

}

.box {
    padding: 20px;
    margin-right: 10px;
    margin-top: 10px;

    display: flex;
    justify-content: space-around;
}

.moreInfo {
    text-decoration: none;
    color:white;
    background-color: rgb(245, 191, 43);

    border: 1px solid rgb(245, 191, 43);
    border-radius: 3px;
    margin: 0px 5px 5px 5px;
    padding: 5px 30px 5px 30px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

